body {
    text-align: center;
}

h1 {
    font-size: 3vh;
}

#word-display {
    font-size: 3vh;
    margin: 5vh;
}

#attempts {
    font-size: 4vh;
}

#guess {
    font-size: 4vh;
    margin: 2vh;
    padding: 1vh;
}

button {
    font-size: 4vh;
    padding: 0.2vh 1vh;
}
